*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Pacifico', cursive;*/
	/*font-family: 'Teko', sans-serif;*/
	/*font-family: 'Concert One', cursive;*/
	/*font-family: 'Hammersmith One', sans-serif;*/
	/*font-family: 'Major Mono Display','Teko', monospace;*/
	font-family: monospace;
	background-color: #303030;
	
}

html{
	scroll-behavior: smooth;
}


.normal-font{
	font-size: 15px;
}

#port-jumbo{
	
	border-radius: 10px;
	width: 100%;
	padding: 8em 4em;
}

.jumbo-div{
	padding-top: 10%;
	height: 100vh;
	background-color: #303030;	
}


.jumbotron h1{
	color: #f2f2f2;
}

.btn a{
	text-decoration: none;
	color: #f2f2f2;
}



.main{
	background-color: lightgrey;
	height: 100vh;
	margin-left: 250px;
	
	
	
}
	

.pink{
	color: #E42CE7;
}

.no-border{
	border: none;
}

.red{
	color: #FF0000;
}

.green{
	color:#5DFC0A;
}
.yellow{
	color:#FFFF00;
}

.blue{
	color:#00BFFF;
}


.nav{
	background-color: white;
	height: 100%;
	width: 250px;
	position: fixed;
}

ul > li{
	list-style: none;
	background-color: white;
	margin-bottom: 5px;
	line-height: 48px; /*default font-size is 16px. 16*3 =48px*/
	text-align: center;
	

}


ul> li:hover{
	background-color: #A9A9A9;/* #CC7178;*/

}

ul> li:hover > a{
	color: black;
}

.ul{
	display: block;
	background-color: white;
	width: 100%;
	margin-top: 70%;
	

}

.link{
	text-decoration: none; 
	color: black;
}

.forCard{
	display: flex;
	flex-wrap: wrap;
}




.typewriter h1{

	/*color: #fff;*/
  	font-family: monospace;
 	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .15em; /* Adjust as needed */
  	animation: 
    	typing 4.5s steps(40, end),
    	blinking-cursor .5s step-end infinite;


	/*font-family: monospace;
	letter-spacing: .15em;
	margin: 0 auto;
  	overflow: auto;
  	white-space: no-wrap;
  	border-right: .15em solid white;
  	animation: typing 3.5s steps(40, end), blinking-cursor .5s step-end infinite;*/
}




@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
}