*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Raleway', sans-serif;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Pacifico', cursive;*/
	/*font-family: 'Teko', sans-serif;*/
	/*font-family: 'Concert One', cursive;*/
	/*font-family: 'Hammersmith One', sans-serif;*/
	/*font-family: 'Major Mono Display','Teko', monospace;*/
	font-family: monospace;
	/*background-color: #303030;*/
	
}

/*start navbar*/


.nav{
	background-color: #f1f1f1;
	height: 100%;
	width: 250px;
	position: fixed;
	border: 1px solid #ccc;
}

.nav button{
	/*display: block;*/
	background-color: #f1f1f1;
	color: black;
	width: 100%;
	border: none;
	outline: none;
	text-align: center;
	cursor: pointer;
	transition: 0.3s;
	height:40px;
	/*margin-bottom: 5px;*/
	/*line-height: 48px;*/

}

ul{
	display: block;
	width: 100%;
	margin-top: 70%;
}

ul > li{
	list-style: none;
	background-color: #f1f1f1;
	/*margin-bottom: 5px;*/
	/*line-height: 48px; default font-size is 16px. 16*3 =48px*/
	text-align: center;
}

.nav button:hover {
  background-color: #ddd;
}

.nav button.active {
  background-color: #ccc;
}

.navContent{
	background-color: lightgrey;
	height: 100vh;
	margin-left: 250px;	
}

.navFont{
	font-size: 15px;
}

.bg{
	padding-top: 10%;
	height: 100vh;
	background-repeat: no-repeat;
}

.bgHome{
	background-image: url("../images/home.png");
}

.bgPortfolio{
	background-image: url("../images/portfolio.png");
}

.bgAbout{
	background-image: url("../images/about.png");
}

/*end navbar*/


/*start home*/
.port-jumbo{
	width: 80%;
	padding: 8em 4em;
}

.jumbotron h1{
	color: #f2f2f2;
}

.pink{
	color: #E42CE7;
}

.red{
	color: #FF0000;
}

.green{
	color:#5DFC0A;
}
.yellow{
	color:#FFFF00;
}

.blue{
	color:#00BFFF;
}
.typewriter h1{

	/*color: #fff;*/
  	font-family: monospace;
 	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .15em; /* Adjust as needed */
  	animation: 
    	typing 4.5s steps(40, end),
    	blinking-cursor .5s step-end infinite;


	/*font-family: monospace;
	letter-spacing: .15em;
	margin: 0 auto;
  	overflow: auto;
  	white-space: no-wrap;
  	border-right: .15em solid white;
  	animation: typing 3.5s steps(40, end), blinking-cursor .5s step-end infinite;*/
}

.typewriterPortfolio h1{

	color: white;
  	font-family: monospace;
 	overflow: hidden; /* Ensures the content is not revealed until the animation */
  	border-right: .15em solid white; /* The typwriter cursor */
  	white-space: nowrap; /* Keeps the content on a single line */
  	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  	letter-spacing: .15em; /* Adjust as needed */
  	animation: 
    	typing 4.5s steps(40, end),
    	blinking-cursor .5s step-end infinite;


	/*font-family: monospace;
	letter-spacing: .15em;
	margin: 0 auto;
  	overflow: auto;
  	white-space: no-wrap;
  	border-right: .15em solid white;
  	animation: typing 3.5s steps(40, end), blinking-cursor .5s step-end infinite;*/
}



@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blinking-cursor {
  from, to { border-color: transparent }
  50% { border-color: orange }
}
/*end Home*/



.no-border{
	border: none;
}
.link{
	text-decoration: none; 
	color: black;
}

.forCard{
	display: flex;
	flex-wrap: wrap;
}







/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px){
	
#port-jumbo{
	
	border-radius: 10px;
	width: 100%;
	padding: 8em 4em;
}

}

/*desktop*/

@media only screen and (min-width: 961px){

}